{% extends 'base.html' %}
{% load static %}
 {% block content %}
{% include 'core/menu.html' %}
    <main class="principal">
        <div class="conteudo">
            <nav class="modulos">
                {% for aluno in alunos %}
                <div class="modulo azul-escuro">
                    <h3>Nome: {{ aluno.nome_aluno }}</h3>
                    <ul>
                        <li>
                            <P>Data de Nasc.: {{ aluno.data_nacimento }}</P>
                            <P>CPF: {{ aluno.cpf }}</P>
                            <P>CPF: {{ aluno.rg }}</P>
                            <P>Telefone: {{ aluno.telefone }}</P>
                            <P>Turma: {{ aluno.Turma }}</P>
                        </li>
                            <a href="{% url 'upd_aluno' aluno.pk %}" ><img src="{% static 'image/atualizar.png' %}" width="50" height="50"></a>
                            <a href="{% url 'del_aluno' aluno.pk %}" ><img src="{% static 'image/deletar.png' %}" width="50" height="50"></a>
                    </ul>
                </div>
                {% endfor %}
            </nav>
        </div>
    </main>
{% include 'core/footer.html' %}
{% endblock %}
