{% extends 'core/base.html' %}
{% load static %}
 {% block content %}
{% include 'core/menu.html' %}
    <main class="principal">
        <div class="conteudo">
            <nav class="modulos">
                {% for funcionario in funcionarios %}
                <div class="modulo laranja">
                    <h3>Nome: {{ funcionario.nome_funcionario }}</h3>
                    <ul>
                        <li>
                            <P>Data de Nasc.: {{ funcionario.data_nacimento }}</P>
                            <P>CPF: {{ funcionario.cpf }}</P>
                            <P>CPF: {{ funcionario.rg }}</P>
                            <P>Telefone: {{ funcionario.telefone }}</P>
                            <P>Salario: R$ {{ funcionario.salario }}</P>
                        </li>
                            <a href="{% url 'upd_funcionarios' funcionario.pk %}" ><img src="{% static 'core/image/atualizar.png' %}" width="50" height="50"></a>
                            <a href="{% url 'del_funcionarios' funcionario.pk %}" ><img src="{% static 'core/image/deletar.png' %}" width="50" height="50"></a>
                    </ul>
                </div>
                {% endfor %}
            </nav>
        </div>
    </main>
{% include 'core/footer.html' %}
{% endblock %}
