<main class="principal">
    <div class="conteudo">
        {% if request.user.is_authenticated %}

            <h2 style="color: blue" class="text-center">Olá {{user}}, Seja bem vindo!</h2>
                <br>
            <h3 style="color: blue" class="text-center">--- Sistema Escolar ---</h3>
                <br>
            <p style="color: blue" class="text-center">Pioneiro na Educação de Jovens e Adultos em Osasco e região,
                com cursos devidamente autorizados pelo Ministério da Educação e Cultura (MEC).</p>
                <br>
            <h2 style="color: blue" class="text-center">{{data}}</h2>

        {% else %}
            <div class = "container">
            <div class="wrapper">
                {% include 'core/registration/login.html' %}
            </div>
            </div>
        {% endif %}
    </div>
</main>